.live-game-stats-container1 {
  display: contents;
}
 
.live-game-stats-thq-live-game-stats-progress-fill-elm {
  width: 85%;
}
 
.live-game-stats-container2 {
  display: none;
}
 
.live-game-stats-container3 {
  display: contents;
}
 
.live-game-stats-container4 {
  display: none;
}
 
.live-game-stats-container5 {
  display: contents;
}
