.social-links-container1 {
  display: contents;
}
 
.social-links-link1 {
  display: contents;
}
 
.social-links-link2 {
  display: contents;
}
 
.social-links-container2 {
  display: none;
}
 
.social-links-container3 {
  display: contents;
}
